body {
    background-color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    border: 4px dotted cornflowerblue;
    border-radius: 10px;
}

h1 {
    margin: 50px;
}

.container {
   text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: 0 0 0 225px;
}

.form-group {
    /* text-align: left; */
    padding: 25px;
}

.form-control {
    border: 3px solid cadetblue;
    opacity: 0.8;
}

.form-control:hover {
    opacity: 1;
    border: 3px solid cornflowerblue
}