body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: aliceblue;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

h1 {
    color: slateblue;
}

.list-container {
    display: inline-block;
    padding: 20px 0;
    width: 500px;
    background-color: white;
    border: 2px solid slateblue;
    border-radius: 20px;
}

.list-entry {
    background-color: lavender;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: 2px solid mediumpurple;
    border-radius: 20px;
    margin: 10px;
    width: 200px;
    height: 50px;
    opacity: 0.6;
}

.list-entry:hover {
    opacity: 1;
}

.new-entry {
    background-color: salmon;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: 2px solid sienna;
    border-radius: 20px;
    margin: 10px;
    width: 150px;
    height: 50px;
    opacity: 0.8;
}

.new-entry:hover {
    opacity: 1;
}

.remove-entry {
    background-color: cornflowerblue;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: 2px solid slateblue;
    border-radius: 20px;
    margin: 10px;
    width: 40px;
    height: 30px;
    opacity: 0.8;
}

.custom-container {
    /* display: flex;
    justify-content: center; */
    padding: 25px 0;
}

.customize {
    font-family: 'Barlow', sans-serif;
}