body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: aliceblue;
    text-align: center;
    margin: 50px;
    /* display: flex;
    justify-content: center; */
}

h1 {
    color: slateblue;
}

.info-btn-container {
    margin: 10px;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.info-modal {
    background-color: white;
    text-align: center;
    width: 500px;
    padding: 40px 60px;
    border: 2px solid navajowhite;
    border-radius: 10px;
    max-width: 100%;
    height: 500px;
}

p {
    font-size: 20px;
}

.list-container {
    display: inline-block;
    text-align: center;
    padding: 35px 0;
    width: 500px;
    background-color: white;
    border: 2px solid slateblue;
    border-radius: 20px;
}

.list-entry {
    float: left;
    text-align: center;
    background-color: lavender;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: 2px solid mediumpurple;
    border-radius: 20px;
    margin: 10px 0 0 65px;
    width: 350px;
    height: 50px;
    opacity: 0.6;
}

.list-entry:hover {
    opacity: 1;
}

.new-entry {
    background-color: salmon;
    color: brown;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: 2px solid sienna;
    border-radius: 20px;
    margin: 10px;
    width: 150px;
    height: 50px;
    opacity: 0.8;
}

.new-entry:hover {
    opacity: 1;
}

.remove-entry {
    float: left;
    text-align: center;
    background-color: cornflowerblue;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: 2px solid slateblue;
    border-radius: 10px;
    margin: 20px 10px;
    width: 40px;
    height: 32px;
    opacity: 0.8;
}

.remove-entry:hover {
    opacity: 1;
}

.quotes-container {
    display: inline-block;
    background-color: bisque;
    border: 3px dotted mediumpurple;
    border-radius: 10px;
    margin: 25px;
    width: 650px;
    max-width: 1000px;
    height: 45px;
    opacity: 0.8;
}

#affirmation {
    display: flex;
    justify-content: center;
    /* padding: 5px; */
}

.custom-container {
    /* display: flex;
    justify-content: center; */
    padding: 25px 0;
}

.customize {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color: slategray;
    border: 2px solid cadetblue;
    border-radius: 5px;
    background-color: mediumaquamarine;
}

#demo {
    height: 300px;
    width: 500px;
    margin: 10px 0 20px 0;
}