<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../assets/public/app.css">
        <title>toasty app .</title>
    </head>
        <body>

        </body>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
</html>