
<body>
    
<!-- open modal button -->
<div class="info-btn-container">
    <button id="open">Info</button>
</div>

<div class="new" id="index-container">
    <h1>Logged Journal Entries</h1>

<!-- populate data below -->


<ul class="list-group">
    <% entries.forEach(v => { %>
        <li>
            <input class="link-btn" type="button" onclick="location.href='/journal/<%=v.id%>'" value="<%=v.date %>">

            <form action="/journal/<%=v.id%>/?_method=DELETE" method="POST" class="delete">
                <input type="submit" value="x" class="delete-btn" />
            </form>

        </li>
        

    <% }); %>
</ul>


<!-- navigate to create new entry page -->
    <a id="new-link" href="/journal/new">New Entry</a>
</div>

<!-- change background -->
    <div class="custom-container">
    <button class="customize" id="custom-btn">Change Theme</button> 
    </div>


    <!------- modal container below! ------->
<div class="modal-container" id="modal-container">
    <div class="info-modal">
        <h1>Welcome to toasty !</h1>
        <p>Toasty is an application created for all of your journaling needs. Track all of your existing journal entries, create and edit new ones, or delete an entry if it's no longer needed.</p>
        <p>Happy journaling! ♥</p>

        <img id= "demo" src="/img/demonstration.gif">

        <button id="close">Thank you!</button>
    </div>
</div>

    


</body>