<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/app.css">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/public/app.css">
        <title>toasty app .</title>
    </head>
        <body>
            <%- include('../partials/header.ejs') %>
            <%- body %>
            <%- include('../partials/footer.ejs') %>


        <script src="/script.js"></script>
    </body>
    
</html>