
<body>
    <div class="new">
    <h1>New Journal Entry</h1>
    <br/>

    <form action="/journal" method="POST">

<!-- Input journal entry date -->
    <div class="container">
        <div class="form-group" id="date-group">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" class="form-control" />
        </div>

<!-- User records current mood/feeling -->
        <div class="form-group" id="mood-group">
            <label for="entry">How are you feeling today?</label>
            <input type="text" id="mood" name="mood" class="form-control" id="mood-tracker"/>
        </div>

        <br/>

<!-- User reflects on their day-->
        <div class="form-group">
            <label for="entry">Reflection/Notes:</label>
            <br/>
            <textarea id="journal-entry" name="entry" class="form-control" rows="15" cols="60">
                </textarea>
        </div>
    </div>
        <br/>
        <!-- redirect to index page -->
        <input type="submit" class="btn btn-primary" value="save" href="">

        <!-- redirect to index page -->
        <a href="/journal/index">Cancel</a>

    </form>
</div>
</body>