
<h1><%=date%></h1>
<p><strong>Mood logged:</strong> "<%=mood%>"</p>
<h2>Journal Entry:</h2>
<div class="journal-container">
    <p><%=entry%></p>
</div>
<br/>

<div class="navigation">
    <a href="/journal/index">Return</a>
</div>
