
<h1><%=date%></h1>
<p><strong>Mood logged:</strong> "<%=mood%>"</p>
<h2>Journal Entry:</h2>

<div class="journal-container">

    <p><%=entry%></p>

</div>
<br/>

<div class="navigation">
     <!-- redirect to index page -->
     <input type="button" class="btn btn-primary" value="edit" onclick="location.href='/journal/<%=id%>/edit'">

     <!-- redirect to index page -->
    <a href="/journal/index">Return</a>
</div>
