body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url('/img/clouds.jpg');
    /* background-repeat: cover; */
    /* background-color: aliceblue; */
    text-align: center;
    /* margin: 50px; */
    /* display: flex;
    justify-content: center; */
}

header h1 {
    background-image: linear-gradient(to left, #eedcb1, #c7d2f6, #ffffff);
    color: white;
    height: 25px;
    padding: 8px;
    border-bottom: 2px solid rgb(148, 153, 204);
    margin-top: 0;
}


.new {
    font-family: 'Josefin Sans', sans-serif;
    /* background-image: url('/img/clouds.jpeg');
    background-repeat: cover; */
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: 20px 80px;
    padding: 20px;
    border: 3px dotted cornflowerblue;
    border-radius: 10px;
}

#index-container {
    margin-top: 50px;
}

h1 {
    color: slateblue;
}

.info-btn-container {
    margin: 10px;
}



p {
    font-size: 20px;
}

.list-container {
    display: inline-block;
    text-align: center;
    padding: 35px 0;
    width: 500px;
    background-color: white;
    border: 2px solid slateblue;
    border-radius: 20px;
}

.list-entry {
    float: left;
    text-align: center;
    background-color: lavender;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: 2px solid mediumpurple;
    border-radius: 20px;
    margin: 10px 0 0 65px;
    width: 350px;
    height: 50px;
    opacity: 0.6;
}

.list-entry:hover {
    opacity: 1;
}

#new-entry {
    background-color: salmon;
    color: brown;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: 2px solid sienna;
    border-radius: 20px;
    margin: 10px;
    width: 150px;
    height: 50px;
    opacity: 0.8;
}

#new-entry:hover {
    opacity: 1;
}

.remove-entry {
    float: left;
    text-align: center;
    background-color: cornflowerblue;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: 2px solid slateblue;
    border-radius: 10px;
    margin: 20px 10px;
    width: 40px;
    height: 32px;
    opacity: 0.8;
}

.remove-entry:hover {
    opacity: 1;
}

.quotes-container {
    display: inline-block;
    background-color: bisque;
    border: 3px dotted mediumpurple;
    border-radius: 10px;
    margin: 25px;
    width: 650px;
    max-width: 1000px;
    height: 45px;
    opacity: 0.8;
}

#affirmation {
    display: flex;
    justify-content: center;
    color: slateblue;
    /* padding: 5px; */
}

.custom-container {
    /* display: flex;
    justify-content: center; */
    padding: 25px 0;
}

.customize {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color: slategray;
    border: 2px solid cadetblue;
    border-radius: 5px;
    background-color: mediumaquamarine;
}

#demo {
    height: 300px;
    width: 500px;
    margin: 10px 0 20px 0;
}

#footer {
    background-color: white;
    height: 40px;
    width: 100vw;
    margin: 0;
}

.journal-container {
    display: inline-block;
    background-color: white;
    height: 25vh;
    width: 50vw;
    padding: 30px 50px;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
}

.navigation {
    margin: 20px 0;
}

textarea {
    padding: 20px;
    line-height: 25px;
}

.form-group {
    margin: 10px 0;
}

.date-group {
    display: inline;
}

.mood-group {
    display: inline;
}

li {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

#new-link {
    text-align: center;
}

.link-btn {
    background-color: lavender;
    border: 2px solid slateblue;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
    opacity: 0.8;
}

.link-btn:hover {
    opacity: 1;
}

.delete {
    display: inline-block;
}

.delete-btn {
    background-color: salmon;
    border: 2px solid sienna;
    color: sienna;
    padding: 5px 8px;
    border-radius: 10px;
    margin: 0;
    display: inline-block;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vh;
    height: 80vh;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.info-modal {
    background-color: white;
    text-align: center;
    width: 500px;
    padding: 40px 60px;
    border: 2px solid navajowhite;
    border-radius: 10px;
    max-width: 100%;
    height: 500px;
}

#footer {
    background-image: linear-gradient(to left, #eedcb1, #c7d2f6, #ffffff);
    color: white;
    padding: 8px;
    border-top: 2px solid rgb(148, 153, 204);
    position: absolute;
    top: 903px;
    width: 100%;
    height: 2.5rem;
}